@-webkit-keyframes lostAnim {
  from {
    height: 2vmin;
  }
  to {
    height: 7vmin;
  }
}

@keyframes lostAnim {
  from {
    height: 2vmin;
  }
  to {
    height: 7vmin;
  }
}

@-webkit-keyframes possibility {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes possibility {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  background: #faf7f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ecf3f1;
}

.Board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (9vmin)[8];
      grid-template-columns: repeat(8, 9vmin);
  -ms-grid-rows: (9vmin)[8];
      grid-template-rows: repeat(8, 9vmin);
  -webkit-box-shadow: 0 0 10px 0px #6b6a6a;
          box-shadow: 0 0 10px 0px #6b6a6a;
}

.Board .WhiteSquare,
.Board .BlackSquare {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-width 200ms;
  transition: border-width 200ms;
}

.Board .WhiteSquare {
  background: #d1dbd8;
}

.Board .BlackSquare {
  background: #145f55;
}

.Board .WhiteSquare,
.Board .BlackSquare {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Board .whitePiece img,
.Board .blackPiece img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  height: 6.5vmin;
  z-index: 10;
}

.Board .playing::after {
  content: "";
  -webkit-transform: scale(1);
          transform: scale(1);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: solid 0vmin #06be72;
  -webkit-transition: border-width 120ms 50ms;
  transition: border-width 120ms 50ms;
}

.Board .playing:hover::after {
  border: solid 0.75vmin #06be72;
}

.Board .isSelected {
  z-index: 1;
  border: solid 0.75vmin #06be72;
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.Board .isSelected:hover::after {
  border-width: 0;
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.Board .possibleMove::after, .Board .possibleMove::before {
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3vmin;
  width: 3vmin;
  border-radius: 0.7vmin;
  -webkit-animation-name: possibility;
          animation-name: possibility;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
}

.Board .possibleMove::after {
  border: solid 0.5vmin #06be72;
  -webkit-transition: border-width 300ms;
  transition: border-width 300ms;
}

.Board .possibleMove::before {
  border: solid 0 #e1f0e1;
  -webkit-transition: border-width 500ms, -webkit-transform 250ms;
  transition: border-width 500ms, -webkit-transform 250ms;
  transition: border-width 500ms, transform 250ms;
  transition: border-width 500ms, transform 250ms, -webkit-transform 250ms;
}

.Board .possibleMove:hover::after {
  border-width: 1.9vmin;
  border-radius: 0.8vmin;
}

.Board .possibleMove:hover::before {
  z-index: 1000;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  border-width: 0.8vmin;
}

.Board .possibleRock::after, .Board .possibleRock::before {
  position: absolute;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4vmin;
  width: 4vmin;
  border-radius: 1vmin;
  -webkit-animation-name: possibility;
          animation-name: possibility;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
}

.Board .possibleRock::after {
  border: solid 0.75vmin #0096aa;
  -webkit-transition: border-width 300ms;
  transition: border-width 300ms;
}

.Board .possibleRock::before {
  border: solid 0.2vmin #e6e6e6;
  -webkit-transition: border-width 500ms, -webkit-transform 250ms;
  transition: border-width 500ms, -webkit-transform 250ms;
  transition: border-width 500ms, transform 250ms;
  transition: border-width 500ms, transform 250ms, -webkit-transform 250ms;
}

.Board .possibleRock:hover::after {
  border-width: 2.35vmin;
  outline-offset: -2.5vmin;
  outline-width: 0.5vmin;
}

.Board .possibleRock:hover::before {
  z-index: 1000;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  border-width: 0.9vmin;
}

.Board .possibleEat {
  z-index: 1;
  border: solid 0.7vmin #06be72;
  outline: 0.7vmin solid white;
  outline-offset: -1.4vmin;
  -webkit-transition: outline-offset 100ms, border-width 100ms;
  transition: outline-offset 100ms, border-width 100ms;
}

.Board .possibleEat:hover {
  border: solid 0.9vmin #06be72;
  outline: 0.8vmin solid white;
  outline-offset: -1.7vmin;
}

.Board .possibleEat:hover img {
  height: 6vmin;
}

.lostPieces {
  margin: 2vmin;
  min-height: 7.5vmin;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lostPieces img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 7vmin;
  -webkit-animation-name: lostAnim;
          animation-name: lostAnim;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

.fas {
  position: absolute;
  color: #777777;
  font-size: 40px;
  right: 5vmin;
  top: 3vmin;
}
