$app-background: #ecf3f1;

$whiteTill: rgb(209, 219, 216);
$blackTill: #145f55;

$whitePlayer: rgb(255, 255, 255);
$blackPlayer: rgb(26, 27, 26);

$possibleMove-clr: rgb(6, 190, 114);
$possibleEat-clr: rgb(6, 190, 114);
$possibleEat-outline: rgb(255, 255, 255);
$possibleRock-clr: rgb(0, 150, 170);
$forbidden-move-color: rgb(253, 66, 66);
$selected-clr: rgb(6, 184, 175);

:root {
     --X: 0px;
     --Y: 0px;
}

@keyframes movingPiece {
     from {
          transform: translate(var(--X), var(--Y));
     }

     to {
          transform: translate(0, 0);
     }
}

@keyframes lostAnim {
     from {
          height: 2vmin;
     }

     to {
          height: 7vmin;
     }
}

@keyframes possibility {
     from {
          transform: scale(0);
     }

     to {
          transform: scale(1);
     }
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#root {
     height: 100vh;
     width: 100vw;
     background: rgb(250, 247, 243);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: $app-background;
}

.Board {
     display: grid;
     grid-template-columns: repeat(8, 9vmin);
     grid-template-rows: repeat(8, 9vmin);
     box-shadow: 0 0 10px 0px rgb(107, 106, 106);

     .WhiteSquare,
     .BlackSquare {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: border-width 200ms;
     }

     .WhiteSquare {
          background: $whiteTill;
     }

     .BlackSquare {
          background: $blackTill;
     }

     .WhiteSquare,
     .BlackSquare {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .whitePiece,
     .blackPiece {
          img {
               pointer-events: none;
               user-select: none;
               position: relative;
               height: 6.5vmin;
               z-index: 10;
          }
     }

     .playing {
          &::after {
               content: "";
               transform: scale(1);
               position: absolute;
               top: 0;
               right: 0;
               left: 0;
               bottom: 0;
               border: solid 0vmin $possibleMove-clr;
               transition: border-width 120ms 50ms;
          }

          &:hover::after {
               border: solid 0.75vmin $possibleMove-clr;
          }
     }

     .isSelected {
          z-index: 1;
          border: solid 0.75vmin $possibleMove-clr;
          transition-duration: 0ms;
          transition-delay: 0ms;

          &:hover::after {
               border-width: 0;
               transition-duration: 0ms;
               transition-delay: 0ms;
          }
     }

     .possibleMove {

          &::after,
          &::before {
               position: absolute;
               content: "";
               box-sizing: border-box;
               height: 3vmin;
               width: 3vmin;
               border-radius: 0.7vmin;
               animation-name: possibility;
               animation-duration: 150ms;
          }

          &::after {
               border: solid 0.5vmin $possibleMove-clr;
               transition: border-width 300ms;
          }

          &::before {
               border: solid 0 rgb(225, 240, 225);
               transition: border-width 500ms, transform 250ms;
          }

          &:hover::after {
               border-width: 1.9vmin;
               border-radius: 0.8vmin;
          }

          &:hover::before {
               z-index: 1000;
               transform: scale(0.8);
               border-width: 0.8vmin;
          }
     }

     .possibleRock {

          &::after,
          &::before {
               position: absolute;
               content: "";
               box-sizing: border-box;
               height: 4vmin;
               width: 4vmin;
               border-radius: 1vmin;
               animation-name: possibility;
               animation-duration: 150ms;
          }

          &::after {
               border: solid 0.75vmin $possibleRock-clr;
               transition: border-width 300ms;
          }

          &::before {
               border: solid 0.2vmin rgb(230, 230, 230);
               transition: border-width 500ms, transform 250ms;
          }

          &:hover::after {
               border-width: 2.35vmin;
               outline-offset: -2.5vmin;
               outline-width: 0.5vmin;
          }

          &:hover::before {
               z-index: 1000;
               transform: scale(0.7);
               border-width: 0.9vmin;
          }
     }

     .possibleEat {
          z-index: 1;
          border: solid 0.7vmin $possibleEat-clr;
          outline: 0.7vmin solid $possibleEat-outline;
          outline-offset: -1.4vmin;
          transition: outline-offset 100ms, border-width 100ms;

          &:hover {
               border: solid 0.9vmin $possibleEat-clr;
               outline: 0.8vmin solid $possibleEat-outline;
               outline-offset: -1.7vmin;

               img {
                    height: 6vmin;
               }
          }
     }

     .forbiddenMove {

          &::after,
          &::before {
               position: absolute;
               z-index: 11;
               content: "";
               height: 0vmin;
               width: 3.7vmin;
               border: solid 0.4vmin $forbidden-move-color;
               background: $forbidden-move-color;
               border-radius: 10px;
          }

          &::after {
               transform: rotate(45deg);
          }

          &::before {
               transform: rotate(-45deg);
          }
     }

     .movingPiece {
          animation-name: movingPiece;
          animation-duration: 500ms;
          animation-timing-function: cubic-bezier(0.44, 0.47, 0.27, 0.99);
     }
}

.lostPieces {
     margin: 2vmin;
     min-height: 7.5vmin;
     min-width: 100px;
     display: flex;
     justify-content: center;
     align-items: center;

     img {
          margin: 0 0.6vmin;
          pointer-events: none;
          user-select: none;
          height: 7vmin;
          animation-name: lostAnim;
          animation-duration: 300ms;
     }
}

.fas {
     position: absolute;
     color: rgb(98, 133, 133);
     font-size: 40px;
     right: 5vmin;
     top: 3vmin;
}